---
services:
  postgresql-authentication-api:
    image: postgres:latest
    environment:
      POSTGRES_USER: default_user
      POSTGRES_PASSWORD: pwd
      POSTGRES_DB: authentication
    ports:
      - "5432:5432"
    volumes:
      - postgres-authentication:/var/lib/postgresql

  kt-authentication-api-local:
    image: kaiqkt/kt-authentication-api:local
    environment:
      POSTGRESQL_URL: jdbc:postgresql://postgresql-authentication-api:5432/authentication
      POSTGRESQL_USERNAME: default_user
      POSTGRESQL_PASSWORD: pwd
      AUTHENTICATION_SESSION_TTL: 604800
      AUTHENTICATION_ISSUER: kaiqkt
      AUTHENTICATION_ACCESS_TOKEN_TTL: 900
      AUTHENTICATION_ACCESS_TOKEN_SECRET: k2p4/4gX5h0x/1B9Y9O2VJ6ZcfjWQmV5UQJ4cZP9YvE=
    ports:
      - "8080:8080"

volumes:
  postgres-authentication: